body {
  background-color: gray;
}
  .screen{
    background-color: rgb(253,253,253);
    width: 380px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 20px;
  }

    .display{
      height: 220px;
    }

    .special-btns{
      background-color: aqua;
      display: flex;
    }


    .btn-grid{
      width: 100%;
      display: grid;
      padding-top: 20px;
      place-items: center center;
      border-top: 1px solid lightgray;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      background-color: aliceblue;
    }
      .btn{
        width: 60px;
        height: 60px;
        border-radius: 100%;
        background-color: rgb(235, 231, 231);
        margin: 10px;
        border: 0;
        font-family: 'Instrument Sans', sans-serif;
        font-size: 20px;
        transition: 0.2s;
      }
        .btn:hover{
          background-color: rgb(212, 205, 205);
        }
        .btn:active{
          background-color: rgb(173, 167, 167);
        }
    
        .home-nav-bar{
      background-color: rgb(212, 220, 226);
      display: flex;
      justify-content: space-between;
      padding: 0 60px;
      margin-top: 20px;
    }
      .icon{
        width: 20px;
      }



